{{define "history"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>History</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="static/style.css">
    <style>
        .mainheader {
            grid-area: header;
        }

        .history {
            grid-area: history;
        }

        .mainfooter {
            grid-area: footer;
        }

        .wrapper {
            width: 100%;
            margin: 0 auto;
            display: grid;
            grid-row-gap: 0;
            grid-template-areas: "header" "history" "footer";
        }
    </style>
</head>

<body>
<div class="wrapper">

    <header class="mainheader">
        {{template "menu" .}}
    </header>

    <div class="history">
        <form id="form">
            <table style="width:100%">
                <tr>
                    <th style="width:1%">From</th>
                    <th>Content</th>
                    <th style="width:1%"></th>
                    <th style="width:1%"></th>
                </tr>
                {{range $ID,$v := .History}}
                <tr id="{{$ID}}">
                    <td>{{(index $.Incoming $v.Ip).Name}}</td>
                    <td>{{$v.Content}}</td>
                    <td>
                        <button name="action" value="cpy">Copy</button>
                    </td>
                    <td>
                        <button name="action" value="dlt">Delete</button>
                    </td>
                </tr>
                {{end}}
            </table>
        </form>
    </div>

    <footer class="mainfooter"></footer>

    <script src="static/jquery.js"></script>
    <script type="application/javascript">
        $("button").click(function (e) {
            e.preventDefault();
            var id = $(this).closest('tr').attr('id');
            var action = $(this).attr('value');
            $.ajax({
                url: '/action?action=' + action + '&ID=' + id,
                success: window.location.reload(true)
            });
        })
    </script>
</div>
</body>

</html>
{{end}}